<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <controlSources>
      <source mode="on" namespace="Sitecore.Support.Shell.Applications.ContentEditor" assembly="Sitecore.Support.90226" prefix="contentExtension"/>
    </controlSources>

    <fieldTypes>
      <fieldType name="Multilist" set:type="Sitecore.Support.Shell.Applications.ContentEditor.MultilistEx,Sitecore.Support.90226" resizable="true" />
    </fieldTypes>
  </sitecore>
</configuration>